<div class="head-title">Contact et adresse de livraison</div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-part">
    <div>
      <span class="title">Contact</span>
      <span class="required">* champs requis</span>
    </div>

    <div class="form-row">
      <div class="input-container">
        <label for="name">Nom*</label>
        <input formControlName="name" id="name" placeholder="Doe" />
        <div *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" class="error">Nom requis</div>
      </div>

      <div class="input-container">
        <label for="firstname">Prénom*</label>
        <input formControlName="firstname" id="firstname" placeholder="John" />
        <div *ngIf="contactForm.get('firstname').invalid && contactForm.get('firstname').touched" class="error">Prénom requis</div>
      </div>
    </div>

    <div class="input-container">
      <label for="phone">Téléphone*</label>
      <input formControlName="phone" id="phone" placeholder="06 12 34 56 78" />
      <div *ngIf="contactForm.get('phone').invalid && contactForm.get('phone').touched" class="error">Téléphone requis</div>
    </div>

    <div class="input-container">
      <label for="email">Email*</label>
      <input formControlName="email" id="email" placeholder="exemple@email.com" />
      <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="error">Email invalide</div>
    </div>
  </div>

  <div class="form-part">
    <div>
      <span class="title">Adresse de livraison</span>
      <span class="required">* champs requis</span>
    </div>

    <div class="input-container">
      <label for="adress">Adresse*</label>
      <input formControlName="adress" id="adress" placeholder="18 rue de Paris" />
      <div *ngIf="contactForm.get('adress').invalid && contactForm.get('adress').touched" class="error">Adresse requise</div>
    </div>

    <div class="form-row">
      <div class="input-container">
        <label for="post_code">Code postal*</label>
        <input formControlName="post_code" id="post_code" placeholder="75000" />
        <div *ngIf="contactForm.get('post_code').invalid && contactForm.get('post_code').touched" class="error">Code postal invalide</div>
      </div>

      <div class="input-container">
        <label for="city">Ville*</label>
        <input formControlName="city" id="city" placeholder="Paris" />
        <div *ngIf="contactForm.get('city').invalid && contactForm.get('city').touched" class="error">Ville requise</div>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="contactForm.invalid">Soumettre</button>
</form>
