<div>
  <h2 id="page-heading" data-cy="ItemListLockHeading">
    <span jhiTranslate="mstrtireApp.itemListLock.home.title">ItemListLocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="mstrtireApp.itemListLock.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-list-lock"
        [routerLink]="['/item-list-lock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mstrtireApp.itemListLock.home.createLabel">Créer un nouveau Item List Lock</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (itemListLocks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="mstrtireApp.itemListLock.home.notFound">Aucun Item List Lock trouvé</span>
    </div>
  }

  @if (itemListLocks && itemListLocks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userUuid">
              <div class="d-flex">
                <span jhiTranslate="mstrtireApp.itemListLock.userUuid">User Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="mstrtireApp.itemListLock.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lockTime">
              <div class="d-flex">
                <span jhiTranslate="mstrtireApp.itemListLock.lockTime">Lock Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tire.id">
              <div class="d-flex">
                <span jhiTranslate="mstrtireApp.itemListLock.tire">Tire</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (itemListLock of itemListLocks; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/item-list-lock', itemListLock.id, 'view']">{{ itemListLock.id }}</a>
              </td>
              <td>{{ itemListLock.userUuid }}</td>
              <td>{{ itemListLock.quantity }}</td>
              <td>{{ itemListLock.lockTime | formatMediumDatetime }}</td>
              <td>
                @if (itemListLock.tire) {
                  <div>
                    <a [routerLink]="['/tire', itemListLock.tire.id, 'view']">{{ itemListLock.tire.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/item-list-lock', itemListLock.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/item-list-lock', itemListLock.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(itemListLock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (itemListLocks && itemListLocks.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
