<div class="header">
  <!-- Lien "ReTire" qui redirige vers la page d'accueil -->
  <a routerLink="/" class="logo">
    <ng-container> <span jhiTranslate="logo.part1"></span><span class="bold" jhiTranslate="logo.part2"></span> </ng-container>
  </a>

  <!-- Lien panier qui redirige vers la page panier-->
  <a routerLink="/cart" class="cart">
    <img class="cart-icon" src="../../content/images/asset/icons/see_cart_icon.png" alt="cart_icon" />
    <span class="cart-count">{{ cartItemCount }}</span>
  </a>
</div>
