<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (orderItem(); as orderItemRef) {
      <div>
        <h2 data-cy="orderItemDetailsHeading"><span jhiTranslate="mstrtireApp.orderItem.detail.title">Order Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ orderItemRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="mstrtireApp.orderItem.quantity">Quantity</span></dt>
          <dd>
            <span>{{ orderItemRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="mstrtireApp.orderItem.price">Price</span></dt>
          <dd>
            <span>{{ orderItemRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="mstrtireApp.orderItem.customerOrder">Customer Order</span></dt>
          <dd>
            @if (orderItem()!.customerOrder) {
              <div>
                <a [routerLink]="['/customer-order', orderItem()!.customerOrder?.id, 'view']">{{ orderItemRef.customerOrder?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="mstrtireApp.orderItem.tire">Tire</span></dt>
          <dd>
            @if (orderItem()!.tire) {
              <div>
                <a [routerLink]="['/tire', orderItem()!.tire?.id, 'view']">{{ orderItemRef.tire?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/order-item', orderItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
