<footer class="footer">
  <div class="footer-content">
    <div class="footer-text">
      <a [routerLink]="['/login']" class="footer-link">Administration</a>
      <span> - </span>
      <a routerLink="/credits" class="footer-link">Crédits</a>
    </div>
    <div class="text-zone">
      <p>
        Les informations de livraison (contact, adresse de livraison, adresse de facturation et carte de crédit ne sont pas stockés
        durablement par notre service
      </p>
    </div>
    <div class="text-zone">
      <p>Le paiement s'effectue uniquement en carte bancaire et nous livrons qu'en France Métropolitaine</p>
    </div>
  </div>
</footer>
