.head-title {
  font-size: 2rem;
  padding-left: 5rem;
  font-weight: bolder;
}

.paragraph{
  padding-left: 7rem;
  font-size: 1.5rem;

}

.name{
  padding-left: 9rem;
  font-weight: bolder;
}


.separator{
  padding-bottom: 25rem;
}
