<div *ngIf="showError" class="error-message">
  <span class="error-text" jhiTranslate="error_text.inactivity"></span>
  <button class="error-close" (click)="closeError()">&times;</button>
</div>
<div class="container">
  <div class="head-title" jhiTranslate="cart_header.title"></div>
  @if (!isCartEmpty()) {
    <div class="button-box">
      <button type="button" class="btn btn-back" (click)="confirmAndEmptyCart()">
        <span jhiTranslate="cart_button.empty"></span>
      </button>
    </div>
  }
</div>
<!-- Affichage de tous les items du panier -->
@if (isCartEmpty()) {
  <div class="alert alert-warning" jhiTranslate="cart_infos.empty"></div>
  <div class="separator"></div>
} @else {
  <div class="title_separator"></div>
  @for (cart_item of cart_items; track cart_item.tire?.id) {
    <jhi-cart-item (countChanged)="updateTireItemCount($event)" (destroy)="this.destroyItem($event)" [cart_item]="cart_item"></jhi-cart-item>
  }
  <div class="total-box">
    <span class="total-title" jhiTranslate="cart_infos.total"></span>
    <span> : </span>
    <span class="total-price">{{ this.totalPrice }}</span>
    <span>€</span>
  </div>
}
<div class="button-container">
  <button type="button" class="btn-back" (click)="goToHome()">
    <span>
      <img ngSrc="../../content/images/website_icon_pack/icon_pack/down_arrow_icon.png" alt="Icône" class="icon" height="1600" width="1600" />
    </span>
    <span jhiTranslate="cart_button.cancel"></span>
  </button>

  @if (!isCartEmpty()) {
    <button type="button" class="btn btn-primary" (click)="goToCheckout()">
      <span jhiTranslate="cart_button.checkout"></span>
      <span>
        <img ngSrc="../../content/images/website_icon_pack/icon_pack/down_arrow_icon.png" alt="Icône" class="icon-right" height="1600" width="1600" />
      </span>
    </button>
  }
</div>
