.head-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.separator {
  padding-bottom: 10rem;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1rem; /* Espacement entre les boutons */
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.button-box {
  margin-top: 1rem;
  padding-left: 1rem;
}

.container {
  display: flex;
}
