<jhi-pop-up style="z-index:1000;" *ngIf="showPopUpError" [cancellable]="false" [title]="this.popUpTitle" [message]="popUpMessage" (Confirm)="onDismissPopUp()"></jhi-pop-up>
<div class="modal-background" (click)="close()">
  <div class="modal-container" (click)="$event.stopPropagation()"> <!-- Empêche la fermeture quand on clique sur la fenêtre -->
    <div style="display: flex; justify-content: flex-end;">
      <button class="close-button" (click)="close()">×</button>
    </div>
    <div class="modal-header">
      <jhi-image class="image" [tire]="tire"></jhi-image>
    </div>
    <div class="modal-body">
      <div class="div-gauche">
        <div style="display: flex; align-items:start">
          <h3 style=" font-weight: bold;">{{ tire?.name }}</h3>
          <span style="margin: 0.5rem 1rem"><strong>Ref : </strong>{{ tire?.reference }} </span>
        </div>

        <p><strong>Description : </strong>{{ tire?.description }}</p>
        <div class="table-container">
          <table class="custom-table">
            <thead>
            <tr>
              <th>Caractéristique</th>
              <th>Détails</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>Largeur (cm)</td>
              <td>{{ tire?.tireWidth }}</td>
            </tr>
            <tr >
              <td>Hauteur (cm)</td>
              <td>{{ tire?.tireHeight }}</td>
            </tr>
            <tr >
              <td>Diamètre (cm)</td>
              <td>{{ tire?.tireDiameter }}</td>
            </tr>
            <tr >
              <td>Indice de vitesse</td>
              <td>{{
                { null: '', A_ONE: '5', A_EIGHT: '40', N: '140', Y: '300' }[tire?.speedIndex ?? 'null']
              }}</td>
            </tr>
            <tr >
              <td>Indice de poids</td>
              <td>{{
                { null: '', TWENTY: '80', SIXTY: '250', NINETY: '600', ONE_HUNDRED_TWENTY: '1400' }[tire?.weightIndex ?? 'null']
              }}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="div-droite">
        <div class="droite-haut">
            <img class="logos" src="{{ getIcon() }}" alt="typeIcon">
            <img class="logos" src="../../content/images/website_icon_pack/icon_pack/certified_icon.png" alt="CertifiedIcon">
          <div style="margin: 0.5rem;"><p><strong>Prix : </strong>{{ tire?.price }}€</p></div>
        </div>
        <div class="quantity-selector">
          <div class="plus-moins">
            <button (click)="decreaseQuantity()">-</button>
            <input type="text" [(ngModel)]="quantity" >
            <button (click)="increaseQuantity()">+</button>
          </div>
            <div style="margin: 1rem"><button class="add-to-cart" (click)="onAddToCart(tire)">Ajouter au panier</button></div>
        </div>

      </div>
    </div>

  </div>
</div>

