<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
<head>
  <title>Facture</title>
</head>
<body>
<img src="../../../webapp/content/images/website_icon_pack/icon_pack/favicon.ico" alt="icone">
<h1>Facture de votre commande</h1>

<p>Bonjour <span th:text="${customerOrder.customer.firstName}">[Prénom]</span> <span th:text="${customerOrder.customer.lastName}">[Nom]</span>,</p>

<p>Merci pour votre commande effectuée le <span th:text="${#dates.format(customerOrder.orderDate, 'dd/MM/yyyy - HH:mm')}">[Date de commande]</span>.</p>

<h2>Détails de la commande</h2>
<table>
  <thead>
  <tr>
    <th>Produit</th>
    <th>Quantité</th>
    <th>Prix unitaire</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <!-- Boucle sur les items -->
  <tr th:each="item : ${items}">
    <!-- Nom du produit -->
    <td th:text="${item.tire != null ? item.tire.name : 'Nom du produit non disponible'}">[Nom du produit]</td>

    <!-- Quantité -->
    <td th:text="${item.quantity != null ? item.quantity : 'Non spécifiée'}">[Quantité]</td>

    <!-- Prix unitaire -->
    <td th:text="${item.tire != null ? item.tire.price : 'Prix non disponible'}">[Prix unitaire] €</td>

    <!-- Prix total -->
    <td th:text="${item.price != null ? item.price : 'Prix total non disponible'}">[Prix total] €</td>
  </tr>
  </tbody>
</table>

<p>Total de la commande : <strong th:text="${customerOrder.totalAmount}">[Montant total] €</strong></p>

<p>Merci pour votre achat !</p>
</body>
</html>
