<div class="container">
  <div class="filter-panel">
    <h4>Filtrer par :</h4>

    <div>
      <label for="brand">Marque :</label>
      <select id="brand" [(ngModel)]="selectedBrand" (change)="onFilterChange()">
        <option value="">Toutes les marques</option>
        <option value="Michelin">Michelin</option>
        <option value="Pirelli">Pirelli</option>
        <option value="Goodyear">Goodyear</option>
      </select>
    </div>

    <div>
      <label for="priceMin">Prix minimum :</label>
      <input type="number" id="priceMin" [(ngModel)]="priceMin" (input)="onFilterChange()">
    </div>

    <div>
      <label for="priceMax">Prix maximum :</label>
      <input type="number" id="priceMax" [(ngModel)]="priceMax" (input)="onFilterChange()">
    </div>
  </div>
  <div class="sorting-panel">
    <div style="display: flex; margin: 0.5rem 0rem">
    <img style="width: 2rem;height: 2rem;" src="content/images/website_icon_pack/icon_pack/sort_icon.png">
    <h4>Tri :</h4>
    </div>
    <div class="sort-group">
      <label class="label" >Par prix</label>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="sortPrice"
            (click)="onSortChange('price', 'asc')"
            [checked]="currentSortField === 'price' && currentSortDirection === 'asc'">
          Ascendant
        </label>
        <label>
          <input
            type="radio"
            name="sortPrice"
            (click)="onSortChange('price', 'desc')"
            [checked]="currentSortField === 'price' && currentSortDirection === 'desc'">
          Descendant
        </label>
      </div>
    </div>

    <div class="sort-group">
      <label class="label">Par poids</label>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="sortWeight"
            (click)="onSortChange('weightIndex', 'asc')"
            [checked]="currentSortField === 'weightIndex' && currentSortDirection === 'asc'">
          Ascendant
        </label>
        <label>
          <input
            type="radio"
            name="sortWeight"
            (click)="onSortChange('weightIndex', 'desc')"
            [checked]="currentSortField === 'weightIndex' && currentSortDirection === 'desc'">
          Descendant
        </label>
      </div>
    </div>
  </div>

  <div class="row">

    <div *ngFor="let tire of tires" class="col-md-4" (click)="openDetails(tire)">
      <div class="card mb-4 shadow-sm" style="border-radius: 50px;">
        <img [src]="tire.imageUrl" class="image" alt="{{ tire.name }}">
        <div class="card-body">
          <div class="card-title-price">
            <h5 class="card-title">{{ tire.name }}</h5>
            <h4>{{ tire.price }}€</h4>
          </div>
          <div class="details">
          <span class="card-text">Ref : {{ tire.description }}</span>
          <span class="card-text">Poids : {{ tire.weightIndex }}</span>
          </div>
          <div class="card-footer">
            <div>
              <img class="footer-images" src="../../content/images/website_icon_pack/icon_pack/snowflakes_icon.png">
              <img class="footer-images" src="../../content/images/website_icon_pack/icon_pack/certified_icon.png">
            </div>
            <div>
              <a>
                <img style="border: 3px solid black; border-radius: 10px; padding:2px" class="footer-images" src="../../content/images/website_icon_pack/icon_pack/add_carteicon.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Précédent</button>
      <span>Page {{ currentPage + 1 }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="tires.length < itemsPerPage">Suivant</button>
    </div>
  </div>

</div>
<jhi-detail *ngIf="showModal" [tire]="selectedTire" (closeModal)="closeModal()"></jhi-detail>
