@import '../../content/scss/colors';

.container {
  margin: 20px 0 0 0;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  transition: transform 0.3s;
  width: 20rem;
  height: 18rem;
}


.card:hover {
  transform: scale(1.05);
}

.price{
  margin-bottom: 0.5rem;
}
.card-title-price{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.image {
  padding: 2rem 0 1rem 0;
  margin: auto;
  width:200px;
  height:200px;
 }
.card-footer{
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.footer-images{
  margin-top: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
a.custom-link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: normal;
}

.details{
  display: flex;
  flex-direction: column;
}
.details span{
  margin: 0.1rem;
}
/* Filtre*/
.filter-panel{
  padding: 1rem 2rem 1rem 1rem;
  min-width: 8rem;
  max-width: 100%;
  height: 260px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
/*Trier*/
.sorting-panel {
  padding: 1rem 2rem 1rem 1rem;
  min-width: 8rem;
  max-width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* Aligner le texte et les inputs radio */
.sort-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.reset-button{
  margin: 1rem auto;
  width: 200px;
  padding: 0.25rem;
  border-radius: 10px;
  background-color: #E0E0E0;
  cursor: pointer;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

.filter-group{
  margin-bottom: 20px;
}

.filter-group .label {
  font-weight: bold;
  margin-bottom: 10px;

}

.sort-group .label {
  font-weight: bold;
  margin-bottom: 5px;
}

/*Pagination*/
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination span{
  margin:  10px;
}
.pagination button{
  height: 50px;
  width: 100px;
  padding: 0.25rem;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

/* SLIDER */
::ng-deep {
  .custom-slider {
    .ngx-slider {
      .ngx-slider-pointer {
        background: grey !important;
      }
      .ngx-slider-selection{
        background: black !important;
      }
    }
  }
}
.search-panel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.search-icon {
  position: absolute;
  left: 1.4rem;
  width: 1.7rem;
  height: 1.7rem;
  top: 50%;
  transform: translateY(-70%);
}

.search-panel input[type="text"] {
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  padding: 1rem 2.5rem 1rem 3rem;
  margin-bottom: 1rem;
}

.alert {
  width: 95%;
  margin-left: 0.5rem;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.close-button {
  margin-top: -3.25 rem;
  position: absolute;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $error_border;
  color: $error_color;
  border: 1px solid $error_border;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  margin: 20px 0;
}

.error-text {
  margin-right: 10px;
  font-size: 16px;
}

.error-close {
  cursor: pointer;
  font-size: 18px;
  color: $error_color;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

