$my_grey: #ccc;

$my_button_primary: #007bff;
$my_button_secondary: #f8f9fa;
$my_button_hover: #e2e6e9;

$text_black: #000;
$text_white: #fff;
$text_error: red;

$desactivate_field_bg: #f0f0f0;
$desactivate_field_border: #ddd;
$desactivate_field_text: #aaa;

$footer_background: #f1f1f1;
$header_background: #e9f0fa;

$box_stroke: black;

$error_background: #f8d7da;
$error_color: #721c24;
$error_border: #f5c6cb;
